@import "../colors";
@import "../vars";

.dashboard__backups {
  height: 100%;
  padding: 32px;

  .row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .dashboard__search {
    // position: absolute;
    // top: 55px;
    // right: 15px;
    width: 300px;
  }

  h1 {
    font-size: 20pt;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.dashboard__backups__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: calc(100% - 49px);
  overflow: auto;
  padding-bottom: 100px;
}

.dashboard__backups__item {
  width: 200px;
  height: 150px;
  margin-right: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 4px;
  transition: all .1s ease-in;
  position: relative;

  .badge {
    position: absolute;
    background-color: $blue-5;
  }

  p {
    text-align: center;
    overflow-wrap: anywhere;
  }

  &.icon {
    svg {
      font-size: 50pt;
      color: $gray-7;
    }
    &:hover {
      svg {
        color: $gray-5;
        // transform: scale(1.2);
      }
    }
  }

  &.file {
    justify-content: flex-start;
    padding-top: 2px;
    div {
      padding: 4px;
      overflow: auto;
    }
  }

  &:hover {
    color: $blue-0;
    background-color: $blue-9;
    box-shadow: $blue-highlight-box-shadow;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {
  margin-top:10px;
  width:93px;
  height: 32px;
}
.custom-file-input::before {
  content: 'Select folder';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  color:black;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}