@import "../colors";
@import "../vars";

.dashboard__files {
  height: 100%;

}

.dashboard__new-files {
  margin-bottom: 20px;

  // h1 {
  //   font-size: 20pt;
  //   margin-top: 0;
  //   margin-bottom: 20px;
  // }
}

.dashboard__new-files__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dashboard__new-files__item {
  width: 250px;
  height: 187px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 4px;
  transition: all .1s ease-in;
  font-size: 16pt;

  &.icon {
    svg {
      font-size: 60pt;
      color: $green-5;
    }
    &:hover, &.active {
      svg {
        color: $blue-4;
        transform: scale(1.2);
      }
    }
  }

  &:hover, &.active {
    color: $blue-0;
    background-color: $blue-8;
    box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.1), inset 0 -1px 5px 0 $blue-4, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0 1px 5px 0 $blue-4;
  }
}

.dashboard__recent-files {
  height: calc(100% - 220px);
  width: 100%;
  position: relative;

  h1 {
    font-size: 20pt;
  }

  .dashboard__search {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
  }
}

.dashboard__recent-files__table {
  margin-top: 16px;
  width: 100%;
  height: calc(100% - 42px);
  .sticky-table {
    border-radius: 4px;
  }

  .sticky-table-table {
    width: 100%;
    // box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    .sticky-table-row:first-child {
      .sticky-table-cell {
        height: 30px;
        // background-color: $neutral-gray-8;
        background-color: white;
        border-bottom: none;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      }
    }

    .sticky-table-row:not(:first-child) {
      .sticky-table-cell {
        padding: 12px 8px;
        border-bottom: none;
        cursor: pointer;
        user-select: none;

        .title {
          font-size: large;
        }
        .secondary-text {
          font-size: small;
          white-space: pre-wrap;
        }
        .lastOpen {
        }

      }

      &:hover {
        .sticky-table-cell {
          background-color: $green-8;
        }
      }
    }
    .sticky-table-row:nth-of-type(even) {
      .sticky-table-cell {
        background-color: $gray-9;
      }
    }
  }
}
