@import "../colors";

#dashboard__react__root {
  nav {
    grid-area: nav;
    width: 100px;
    background-color: #FF7F32;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
}

.dashboard__navigation-tab {
  @include application_text;
  height: 95px;
  border-bottom: 1.5px solid $orange-5;
  color: white;
  padding: 7px;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in;

  &:hover {
    background-color: $orange-7;
  }

  &.selected {
    background-color: $blue-8;
    color: $blue-4;
    border-bottom: none;
    box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.1), inset 0 -1px 5px 0 $blue-4;
  }

  svg {
    font-size: 35px;
  }
}