# For editors
.dir-locals.el
.dumbjump
setup.el
jsconfig.json

# Built/bundled
bin/preload.js
bin/electron_main.js
bin/323.bundle.js.LICENSE.txt
bin/3bd4d476bb1e0e985412
bin/app.bundle.js.LICENSE.txt
bin/appDependencies.bundle.js.LICENSE.txt
bin/c0f60a30d0e6cd83c6a1.exe
bin/electron_main.js.LICENSE.txt
bin/glyphicons-halflings-regular.woff2
bin/loginApp.bundle.js.LICENSE.txt
bin/792.bundle.js.LICENSE.txt
bin/socketServer.bundle.js.LICENSE.txt
*.bundle.js
*.bundle.js.map
*.map

# For testing
.test-output/

# Temp version for building
build/version.js

# New examples (use git add with force flag to add another)
examples/**/*

# Dependencies
node_modules

# Per machine
.env

# Misc
screenshots/*
.DS_Store
data/*
.prev
dist/
lib/plottr_components/src/css/components.css.map

