@import "client";

.beat-list {
  display: flex;
  flex-direction: row;
  height: $beat-height;

  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.beat-list__placeholder {
  width: $width;
  min-width: $width;
  border: 2px solid transparent;
  margin: $margin;
}

.beat-list__new {
  height: $beat-height;
  width: $width;
  min-width: $width;
}

.beat-list__new:hover {
  background: $new-item-background;
  border: $new-item-border;
  cursor: pointer;
}

.beat-list__item {
  @include sub-header-font;
  min-width: $width;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: $padding;
  margin: $margin;
  width: $width;
}

.beat-list__item:hover {
  @include hover-box;
}

.beat-list__item__editing {
  @extend .beat-list__item;
}