@import "main";

.line-list {
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.line-list__new {
  height: $height;
  width: $width;
  margin-left: 40px; // because hover option buttons
  text-align: center;
  color: $new-item-border-color;
  line-height: $height;
}

.line-list__new:hover {
  background: $new-item-background;
  border: $new-item-border;
  cursor: pointer;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  flex-basis: $height;
  height: $height;
}

.line__svg-line-box {
  position: relative;
  top: -$height;
  left: $width;
  height: 0px;
}

.line__svg-line {
  stroke-width: $svg-line-width;
}

.line__hover-options {
  float:left;
  margin-top: -20px;
  margin-right: 1px;
  button.btn-block {
    margin-top: 1px;
  }
}

.line__body {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line__body.hover {
  @include hover-box;
  cursor: move;
}

.line__title {
  @include sub-header-font;
  width: $width;
  padding: 5px 10px 5px 10px;
}
