
.container-with-sub-nav {
  margin-top: 60px;
}

.subnav__container {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}

.subnav__container__label {
  vertical-align: text-top;
}
