$body-background-color: #efefee;

$height: 66px;
$width: 150px;

// $scene-height: $height + 50;
// $chapter-height: $height / 2;
// $chapter-width:

$margin-width: 25px;
$margin: 0px $margin-width 0px 0px;
$margin-left: 0px 0px 0px $margin-width;
$padding: 10px 10px 10px 10px;

$border-radius: 4px;

$card-background: $body-background-color;

$svg-line-width: 3;

$new-item-background: #ddd;
$new-item-border-color: #aaa;
$new-item-border: 2px dashed $new-item-border-color;

@mixin header-font {
  font-family: 'Playfair Display', serif !important;
  font-weight: 400 !important;
}

@mixin sub-header-font {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  font-size: 14pt;
}

@mixin body-text-font {
  font-family: 'Quattrocento', serif !important;
  font-weight: 400 !important;
  font-size: 10pt !important;
}

@mixin hover-box {
  background-color: $new-item-background;
  border-radius: $border-radius;
  cursor: pointer;
}

@mixin well {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  padding: 7px;
}
