<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CompileFolder</key>
	<string>/Users/amberv/outbox</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {223, 691}}</string>
		<string>{{224, 0}, {975, 691}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>4A1D6B18-0952-42EB-A487-D17915DD3BA1</string>
		<string>0361E2D1-033E-4D45-82A4-565F53D27F4C</string>
		<string>FD75AC3C-F304-4EA6-ADCC-2C32D6589969</string>
		<string>0989A3A7-001D-4F4B-A664-9DD29B3B4D9B</string>
		<string>7C691629-31E1-488F-A24E-2C9F4A60C72A</string>
		<string>CCB308DA-B28A-479C-A67B-CF6B55DB674E</string>
		<string>669D7B65-8096-4EFD-A0E2-6BDE8C1E3585</string>
		<string>9A470BDE-CF2B-4872-97C6-74F19BC90197</string>
	</array>
	<key>bookmarksNotesMode</key>
	<integer>0</integer>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20FF5857-6C7B-4724-A9E4-91C74599F1C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>245C2ABD-E9C1-4091-B1B7-DA32402644E7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>58D0189B-0507-4669-B129-4A392CF07F36</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9408C07B-72C0-4002-9C51-5EADF229C3F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7BDE57C-9C5A-4101-9BC2-8A2F0545998B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC997527-8DBC-46F7-8A24-1D0C2140E002</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D5397FD6-99DB-4FED-B7A9-9F985D9A9FE2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC9B5D6E-E477-4620-8E33-8E7ED0449313</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F74B41DB-93D7-4114-A3EA-6EFBEADDEDAF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F8F9FDEF-FD9F-4A8C-B33D-3434A1220ADC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>DocID</key>
			<string>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{356, 0}, {355, 667}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {711, 661}}</string>
		<string>{{712, 0}, {263, 661}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>201</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.PDFScale</key>
	<real>1</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>F8F9FDEF-FD9F-4A8C-B33D-3434A1220ADC</string>
	</array>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 605}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>0 459 1199 719 0 0 1920 1178 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
