@import "vars";

.analyzer__container {
  padding: 10px;
  height: calc(100% - 50px);
  position: absolute;
  overflow: auto;
  width: 100vw;
}

div.json-inspector__leaf {
  padding-left: 30px;

}
div.json-inspector__leaf_root {
  padding-left: 0;
}