@import "vars";

.analyzer__container {
  height: calc(100% - 50px);
  width: 100vw;
  .container-fluid {
    padding: 10px;
    height: 100%;
    width: 100vw;
    position: absolute;
    overflow: auto;
    .row {
      height: 100%;
      overflow: auto;
      & > div {
        height: 100%;
        overflow: auto;
      }
    }
  }
}

.analyzer__tabs {
  .analyzer__tab {
    display: inline-block;
    padding: 2px 10px;
    border-right: 1px solid $gray-3;
    cursor: pointer;

    &:last-child {
      border-right: none;
    }

    &:hover {
      background-color: $gray-7;
      color: white;
    }
  }
}

.analyzer__details {
  overflow: auto;
  padding: 10px;
  padding-bottom: 100px;
}

.analyzer__tree {
  overflow: auto;
  padding: 10px;
  padding-bottom: 50px;
}

div.json-inspector__leaf {
  padding-left: 30px;

}
div.json-inspector__leaf_root {
  padding-left: 0;
}