@import 'firebase-ui-auth';

@import 'colors';
@import 'vars';
@import 'bootstrap_configuration';

@import 'history_block';
@import 'scrollbars';
@import 'error_boundary';
@import 'login';

@import 'plottr_components/components';
@import 'dashboard/dashboard';

@import 'darkmode';

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Give everything in 'yield' margin to separate it.
#react-root {
  margin: 0px 0px 0px 0px;
  height: 100vh;
  // animation: fadein 0.5s;

  display: grid;
  grid-template-areas: 'navigation' 'main';
  grid-template-rows: auto 1fr;

  main.project-main {
    grid-area: main;
    overflow: hidden;
  }

  .loading-splash {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loading-splash__progress {
    width: 40vw;
  }

  .loading-splash__progress__bar {
    position: relative;
    height: 3px;
    background: $orange;
    transition: width 0.4s;
  }

  .offline-mode-banner {
    position: absolute;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $red-3;
    color: $neutral-gray-9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  nav.project-nav {
    grid-area: navigation;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 1000;
    .container-fluid {
      padding: 0;

      .navbar-collapse {
        padding-right: 0;

        &.in {
          margin-left: 0;
        }
      }

      .navbar-header {
        margin-right: 0;
        margin-left: 0;
        .navbar-toggle {
          border-color: $gray-6;
          margin-left: 16px;
          float: none;
        }
      }
    }

    &.navbar-inverse {
      .navbar-toggle {
        border-color: hsl(0, 0%, 20%);
      }
    }

    .project-nav__dashboard-button {
      margin-left: 15px;
    }

    .project-nav__beamer-button {
      margin-right: 30px;
      margin-left: 15px;
    }
  }
}

body {
  @include body-text-font;
  background-color: $gray-9;
  // background: $gray-9 url("../../icons/grid_background.jpg");
  // background-image: url("../../icons/grid_background.jpg");
  // background-size: 3%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include header-font;
}

h3.popover-title {
  font-size: 12pt !important;
}

// fix an annoying focus-ring that Chromium adds
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.secondary-text {
  @include secondary-text;
}

.secondary-text.darkmode {
  color: $darkmode-darker-text;
}

.disabled-text {
  @include disabled-text;
}

.accented-text {
  @include accented-text;
}

.sub-header {
  @extend .secondary-text;
  font-size: 16pt;
  margin-bottom: 20px;
}

.glyphicon {
  vertical-align: baseline;
}

.glyphicon-ok {
  vertical-align: baseline;
}

.svg-save-template {
  vertical-align: middle;
}
.navbar-brand {
  @include header-font;
  font-size: 24px;
}
.nav.navbar-nav {
  @include application-text;
}
.navbar-default .navbar-text {
  color: $green-3;
}
.btn {
  @include application-text;
}
.modal-header {
  @include header-font;
}
.nav.nav-tabs {
  @include application-text;
}

.control-label {
  @include application-text;
}
input[type='file'] {
  @include application-text;
}

.blue-background {
  background-color: $blue;
}

@keyframes rotateit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.fa-spinner {
  animation: rotateit 1.1s linear infinite;
}

.fun-spinner {
  margin-top: 100px;
  width: 100vw;
  text-align: center;
  font-size: 25px;
  @include header-font;
  .fa-spinner {
    color: $orange-5;
    font-size: 2.5em;
    margin-bottom: 8px;
  }
}

.popover {
  .popover-content {
    max-height: 100vh;
    padding-bottom: 0;
  }
}
#list-popover.popover {
  .popover-content {
    max-height: 93vh;
    overflow: auto;
  }
}
#filter.popover {
  .popover-content {
    max-height: 83vh;
    overflow: auto;
  }
}

#beamer-bell {
  .beamer_icon {
    top: 5px;
  }
  svg {
    vertical-align: text-bottom;
  }
}

.tour-helper {
  padding-right: 60px !important;
  max-width: 700px !important;
  font-size: 18pt;

  [data-tour-elem='controls'] {
    margin-top: 40px !important;
  }

  button:not([data-tour-elem='dot']) {
    height: 15px !important;
    width: 15px !important;
  }

  button[data-tour-elem='left-arrow'],
  button[data-tour-elem='right-arrow'] {
    height: 20px !important;
    width: 20px !important;
  }

  .reactour__dot {
    height: 12px !important;
    width: 12px !important;
  }
}
