@import "bootstrap_configuration";
@import "card_block";
@import "card_dialog";
@import "character_list_block";
@import "line_block";
@import "outline_block";
@import "place_list_block";
@import "scene_block";
@import "tag_list_block";
@import "color_picker_block";
@import "image_picker";
@import "subnav_block";
@import "timeline_block";
@import "history_block";
@import "notes_block";
@import "select_list_block";
@import "filter_list_block";
@import "custom_attr_block";
@import "verify_window";
@import "expired_window";
@import "slate";
@import "template_picker";
@import "book";
@import "darkmode";

@import "vars";
@import "colors";

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Give everything in 'yield' margin to separate it.
#react-root {
  margin: 0px 0px 0px 0px;
  // animation: fadein 0.5s;

  #temporary-inner {
    margin-top: -50px;
    background: hsl(60, 3%, 94%) url("../../icons/mountain_background.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    justify-content: center;
    img {
      animation: fadein 1.5s;
      margin-top: 10px;
    }
  }
}

body {
  @include body-text-font;
  padding-top: 55px;
  background: $gray-9 url("../../icons/grid_background.jpg");
  // background-image: url("../../icons/grid_background.jpg");
  background-blend-mode: color-burn;
  background-size: 3%;
}

h1, h2, h3, h4, h5, h6 {
  @include header-font;
}

h3.popover-title {
  font-size: 12pt !important;
}

.secondary-text {
  @include secondary-text;
}

.secondary-text.darkmode {
  color: $darkmode-darker-text;
}

.disabled-text {
  @include disabled-text;
}

.accented-text {
  @include accented-text;
}

.sub-header {
  @extend .secondary-text;
  font-size: 16pt;
  margin-bottom: 20px;
}

.glyphicon {
  vertical-align: baseline;
}

.glyphicon-ok {
  vertical-align: baseline;
}

.navbar-brand {
  @include header-font;
  font-size: 24px;
}
.nav.navbar-nav {
  @include application-text;
}
.btn {
  @include application-text;
}
.modal-header {
  @include header-font;
}

.control-label {
  @include application-text;
}
input[type="file"] {
  @include application-text;
}

.blue-background {
  background-color: $blue;
}

.tour-helper {
  padding-right: 60px!important;
  max-width: 700px!important;
  font-size: 18pt;

  [data-tour-elem="controls"] {
    margin-top: 40px!important;
  }

  button:not([data-tour-elem="dot"]) {
    height: 15px!important;
    width: 15px!important;
  }

  button[data-tour-elem="left-arrow"], button[data-tour-elem="right-arrow"] {
    height: 20px!important;
    width: 20px!important;
  }

  .reactour__dot {
    height: 12px!important;
    width: 12px!important;
  }
}
