@import "bootstrap_configuration";
@import "card_block";
@import "card_dialog";
@import "character_list_block";
@import "line_list_block";
@import "outline_block";
@import "place_list_block";
@import "scene_list_block";
@import "tag_list_block";
@import "color_picker_block";
@import "subnav_block";
@import "timeline_block";
@import "history_block";
@import "notes_block";
@import "select_list_block";
@import "filter_list_block";

// Give everything in 'yield' margin to separate it.
#react-root {
  margin: 0px 0px 30px 20px;
}

body {
  @include body-text-font;
  padding-top: 55px;
}

h1, h2, h3, h4, h5, h6 {
  @include header-font;
}

h1 {
  font-size: 36pt !important;
}

h2 {
  font-size: 32pt !important;
}

h3 {
  font-size: 28pt !important;
}

h3.popover-title {
  font-size: 12pt !important;
}

h4 {
  font-size: 24pt !important;
}

h5 {
  font-size: 20pt !important;
}

h6 {
  font-size: 16pt !important;
}

.secondary-text {
  @include secondary-text;
}

.disabled-text {
  @include disabled-text;
}

.accented-text {
  @include accented-text;
}

.sub-header {
  @extend .secondary-text;
  font-size: 16pt;
  margin-bottom: 20px;
}

.glyphicon {
  vertical-align: text-top;
}

.glyphicon-ok {
  vertical-align: baseline;
}
