.beat-config-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 162px);
}

.beat-config-modal__hierarchy-count-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.beat-config-modal__hierarchy-count-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.beat-config-modal__hierarchy-count-label {
  font-size: 18px;
}

.beat-config-modal__hierarchy-count {
  width: 50px;
}

.beat-config-modal__hierarchy-count-adjustment-control {
  background: none;
  border: none;
}

.beat-config-modal__levels-table {
  margin-top: 20px;
  flex-grow: 1;
}

.beat-config-modal__levels-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.beat-config-modal__levels-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.beat-config-modal__levels-table-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 14%;
  font-family: 'Lato', sans-serif;
  box-shadow: none;
  margin: 0;
  outline: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: 30px;
  border-bottom: 2px solid #f2cb8000;
  transition: border-bottom 0.5s;
}

.beat-config-modal__levels-table-cell--editing {
  margin-top: -4px;
  padding: 0;
  border-bottom: 2px solid $orange-6;
}

.beat-config-modal__button-bar {
  margin-top: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  border-top: 1px solid $gray-8;
  min-height: 50px;
}
