@import "vars";

.card-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-dialog__title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.card-dialog__body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.card-dialog__left-side {
  width: 20%;
  border-right: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.card-dialog__description {
  width: 80%;
  padding-left: 10px;
  overflow-y:scroll;
  textarea {
    font-size: 15px;
  }
}

.card-dialog__line, .card-dialog__scene {
  display: flex;
  flex-direction: column;
}

.card-dialog__button-bar-create {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.card-dialog__select-line, .card-dialog__select-scene {
  margin-left: 5px !important;
}

.card-title-editor, .card-description-editor {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card-title-editor {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-title-editor__display, .card-description-editor__display {
  margin: 0;
  flex-grow: 1;
}

.card-title-editor__display:hover, .card-description-editor__display:hover {
  cursor: pointer;
}

.card-dialog__button-bar {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  border-top: 1px solid #eee;
}

.card-dialog__delete {
  margin-right: auto;
}

.ReactModal__Content--after-open {
  top: 60px !important;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.1) !important;
  z-index: 1000;
}

.card-dialog__details-label {
  @include sub-header-font;
  min-width: 150px;
}
