@import "vars";

.card__cell {
  .card__body-wrapper {
    margin-bottom: 10px;
    &.lastOne {
      margin-bottom: 2px;
    }
  }
  .card__add-card {
    font-size: 12px;
    text-align: center;
    color: transparent;
    cursor: pointer;
  }
  &:hover {
    .card__add-card {
      color: $blue-5;
    }
  }
}

.card__cell__overview-cell {
  @extend .card__cell;

  margin: auto;
  text-align: center;

  span:first-child {
    text-align: left;
  }
  .card__body {
    margin-top: 3px;
    text-align: left;
  }
}

.card__hidden-cards {
  background-color: white;
  padding: 4px;
  border-radius: 4px;
  .card__body-wrapper {
    margin-bottom: 3px;
    &.lastOne {
      margin-bottom: 0;
    }
  }
}

.card__body {
  width: 150px;
  min-height: 70px;
  display: flex;
  border: 3px solid black;
  border-radius: 4px;
  margin: auto;
  position: relative;
  background-color: $body-background-color;
  cursor: move;
  transition: all 0.6s $cubic;
  z-index: 2;
}

.card__title {
  padding: 10px;
  flex-grow: 1;
  overflow: auto;
}

.card__svg-line {
  stroke-width: $svg-line-width;
}

.blank-card__body {
  @extend .card__body;
  border: 3px dashed black;
  visibility: hidden;
  cursor: pointer;
}

.blank-card__body.hover {
  visibility: visible;
}

.card__cell:hover {
  .blank-card__body {
    visibility: visible;
  }
}

.card__body:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.card__popover-wrapper {
  padding: 4px 16px;
}

.card__popover-description {
  min-width: 250px;
  @include body-text-font;

  .slate-editor__editor {
    text-align: justify;
  }
}

.card__popover-labels {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 12px;
  .label {
    margin: 2px;
  }
}

.sticky-table.darkmode {
  .card__cell {
    background-color: $darkmode-card-background;
    .card__body, .blank-card__body {
      background-color: $darkmode-card-background;
      color: $darkmode-text;
    }
  }
}
