@import "vars";

.card__cell {
  svg {
    position: absolute;
  }
}

.card__body {
  width: 150px;
  min-height: 70px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 4px;
  margin: auto;
  position: relative;
  background-color: $body-background-color;
  cursor: move;
}

.card__svg-line {
  stroke-width: $svg-line-width;
}

.blank-card__body {
  @extend .card__body;
  border: 3px dashed black;
  visibility: hidden;
  cursor: pointer;
}

.blank-card__body.hover {
  visibility: visible;
}

.card__cell:hover {
  .blank-card__body {
    visibility: visible;
  }
}

.card__popover-description {
  min-width: 250px;
  @include body-text-font;
}

.card__popover-labels {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .label {
    margin: 2px;
  }
}

.sticky-table.darkmode {
  .card__cell {
    background-color: $card-background-darkmode;
    .card__body, .blank-card__body {
      background-color: $card-background-darkmode;
      color: $text-darkmode;
    }
  }
}
