@import "vars";

.character-list {
  margin: 10px;
  h1 {
    text-align: center;
    @include application-text;
  }
  .container-fluid {
    width: 99vw;
    height: calc(100% - 110px);
    position: absolute;
    top: 107px;
    overflow: hidden;
    .row {
      height: 100%;
    }
    .col-sm-3, .col-sm-9 {
      height: 100%;
      position: relative;
    }
  }
}

.character-list__category-list {
  overflow: auto;
  height: calc(100% - 74px);
  position: relative;
  h2 {
    font-size: 17px;
  }
}

.character-list__list {
  .list-group-item {
    cursor: pointer;

    .character-list__item-inner {
      display: flex;
      align-items: center;

      .character-list__item-inner__image-wrapper {
        img {
          max-width: 75px;
          max-height: 75px;
        }
        margin-right: 20px;
      }
    }
    &:hover {
      background: $new-item-background;
    }
    &.selected {
      border: 2px dashed $blue-6;
      background-color: $gray-7;
      margin-bottom: 0;
    }
  }
}

.character-list__list.darkmode {
  .list-group-item {
    background-color: $darkmode-darker-background;
    color: $darkmode-text;
    border-color: $darkmode-darker-border;

    &:hover {
      background: $darkmode-background;
    }
    &.selected {
      border: 2px dashed $darkmode-border;
      background-color: $darkmode-darker-border;
      margin-bottom: 0;
    }

    h6 {
      color: $darkmode-text;
    }
    p {
      color: $darkmode-darker-text;
    }
  }
}

.character-list__new {
  text-align: center;
  cursor: pointer;
  color: $new-item-border-color;
}

.character-list__new:hover {
  background: $new-item-background;
}

.character-list__character-wrapper {
  height: 100%;
  position: relative;
  overflow: auto;
}

.character-list__character-view {
  @include well;
  padding: 20px;
  max-height: 100%;
  overflow: auto;

  display: flex;
  align-items: flex-start;

  .character-list__character-view__left-side {
    width: 18%;
    position: sticky;
    top: 0;
    border-right: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .character-list__character-view__right-side {
    width: 79%;
    height: 100%;
    padding: 4px;
    margin-left: 8px;
    overflow-y: auto;
  }
}

.character-list__character {
  cursor: pointer;

  .character-list__character-notes {
    border: 2px dashed transparent;
    display: flex;
    justify-content: space-between;

    .image-circle-large {
      margin-left: 100px;
      margin-bottom: 20px;
    }
    .character-list__right-side {
      .glyphicon {
        color: $blue-7;
        visibility: hidden;
        margin: 5px;
      }
    }
  }

  &:hover {
    .character-list__character-notes {
      border: 2px dashed $blue-7;
      border-radius: 4px;
      background-color: $gray-9;
      .glyphicon {
        visibility: visible;
      }
    }
  }

  .character-list__character__edit-form {
    padding-left: 5px;
    display: flex;
    .character-list__inputs__normal {
      width: 50%;
      padding-right: 3%;
      border-right: solid 1px #eee;
    }
    .character-list__inputs__custom {
      width: 50%;
      padding-right: 3%;
      padding-left: 3%;
    }
  }
  .btn-toolbar {
    display: flex;
    flex-direction: row-reverse;
  }
}

.character-list__character__edit-image-wrapper {
  display: flex;
  align-items: center;
  .character-list__character__edit-image {
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.character-list__character.darkmode {
  background-color: $darkmode-darker-background;
  color: $darkmode-text;
  border-color: $darkmode-darker-border;

  &:hover {
    .character-list__character-notes {
      border: 2px dashed $darkmode-border;
      background-color: $darkmode-darker-border;
    }
  }

  h4 {
    color: $darkmode-darker-text;
  }
}

.character-list__character.editing {
  cursor: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.darkmode {
    background-color: $darkmode-darker-background;
    color: $darkmode-text;
  }
}

.character-list__custom-attributes-list-wrapper {
  li.list-group-item {
    width: 80%;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;

    .character-list__attribute-name {
      align-self: center;
      margin: 0;
    }
  }
}

.character-list__custom-attributes-add-button {
  width: 50%;
  display: flex;
  .btn {
    margin-left: 7px;
    margin-top: 11px;
    align-self: center;
  }
}

.character-list__custom-attributes__save-as-template {
  margin-right: 24px;
}

.custom-attributes__wrapper {
  overflow: auto;

  &.darkmode {
    background-color: $darkmode-background;
    color: $darkmode-text;
    h3 {
      color: $darkmode-text;
    }
    p.sub-header {
      color: $darkmode-darker-text;
    }
    .list-group-item {
      background-color: $darkmode-darker-background;
    }
    .custom-attr-item__input {
      color: $darkmode-text;
      background-color: $darkmode-background;
    }
  }
}
