@import "vars";

.character-list {
  margin: 10px;
  h1 {
    text-align: center;
    @include application-text;
  }
}

.character-list__list {
  width: 25%;
  .list-group-item {
    cursor: pointer;

    .character-list__item-inner {
      display: flex;
      align-items: center;

      .character-list__item-inner__image-wrapper {
        max-width: 75px;
        margin-right: 20px;
      }
    }
  }
}

.character-list__list.darkmode {
  .list-group-item {
    background-color: $card-background-darkmode;
    color: $text-darkmode;
    border-color: $border-color-darkmode;

    h6 {
      color: $text-darkmode;
    }
    p {
      color: $secondary-text-darkmode;
    }
  }
}

.character-list__new {
  text-align: center;
  cursor: pointer;
  color: $new-item-border-color;
}

.character-list__new:hover {
  background: $new-item-background;
}

.character-list__character {
  @include well;
  width: 75%;
  float: right;
  cursor: pointer;
  .character-list__character-notes {
    display: flex;
    justify-content: space-between;

    div {
      flex: 1;
      .img-responsive {
        max-width: 500px;
      }
    }
  }

  .character-list__character__edit-form {
    padding-left: 5px;
    display: flex;
    .character-list__inputs__normal {
      width: 50%;
      padding-right: 3%;
      border-right: solid 1px #eee;
    }
    .character-list__inputs__custom {
      width: 50%;
      padding-right: 3%;
      padding-left: 3%;
    }
  }
  .btn-toolbar {
    display: flex;
    flex-direction: row-reverse;
  }
}

.character-list__character__edit-image-wrapper {
  display: flex;
  align-items: center;
  .character-list__character__edit-image {
    max-width: 200px;
    margin-right: 10px;
  }
}

.character-list__character.darkmode {
  background-color: $card-background-darkmode;
  color: $text-darkmode;
  border-color: $border-color-darkmode;

  h4 {
    color: $secondary-text-darkmode;
  }
}

.character-list__character.editing {
  cursor: auto;
}

.character-list__custom-attributes-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;

  li.list-group-item {
    width: 80%;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;

    .character-list__attribute-name {
      align-self: center;
      margin: 0;
    }
  }
}

.character-list__custom-attributes-add-button {
  width: 50%;
  display: flex;
  .btn {
    margin-left: 7px;
    margin-top: 11px;
    align-self: center;
  }
}

.custom-attributes__wrapper.darkmode {
  background-color: $card-background-darkmode;
  color: $text-darkmode;
  h3 {
    color: $text-darkmode;
  }
  p.sub-header {
    color: $secondary-text-darkmode;
  }
  .list-group-item {
    background-color: $card-background-darkmode;
  }
  .card-dialog__close {
    background-color: $border-color-darkmode;
    color: $text-darkmode;
  }
}
