@import "vars";

.character-list {
  margin: 10px;
  h1 {
    text-align: center;
  }
}

.character-list__list {
  width: 25%;
  .list-group-item {
    cursor: pointer;
  }
}

.character-list__new {
  text-align: center;
  cursor: pointer;
  color: $new-item-border-color;
}

.character-list__new:hover {
  background: $new-item-background;
}

.character-list__character {
  @include well;
  width: 75%;
  float: right;
  .character-list__character__edit-form {
    padding-left: 5px;
    display: flex;
    .character-list__inputs__normal {
      width: 50%;
      padding-right: 3%;
      border-right: solid 1px #eee;
    }
    .character-list__inputs__custom {
      width: 50%;
      padding-right: 3%;
      padding-left: 3%;
    }
  }
  .btn-toolbar {
    display: flex;
    flex-direction: row-reverse;
  }
}

.character-list__custom-attributes-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;

  li.list-group-item {
    width: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;

    .character-list__attribute-name {
      align-self: center;
      margin: 0;
    }
  }
}

.character-list__custom-attributes-add-button {
  width: 25%;
}
