@import "vars";

.color-picker__title {
  margin: 0px;
  margin-bottom: 10px;
}

.color-picker__input-box {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.color-picker__show-color {
  display: inline-block;
  height: 50px;
  width: 60px;
  border-radius: 10px 0px 10px 0px;
  margin-right: 7px;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #eee;
}

.color-picker__box-wrapper {
  p {
    @include header-font;
    font-size: 20pt;
    margin-top: 10px;
  }
}

.color-picker__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .color-picker__choice {
    margin: 3px;
    button {
      height: 50px;
      width: 60px;
      border-radius: 10px 0px 10px 0px;
      border-width: 0px;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    button::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border-radius: 10px 0px 10px 0px;
      border-width: 0px;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
      opacity: 0;
      transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    button:hover {
      transform: scale(1.25, 1.25);
    }
    button:hover::after {
      opacity: 1;
    }
  }
}

.color-picker__wrapper.darkmode {
  background-color: $darkmode-card-background;
  .color-picker__title {
    color: $darkmode-text;
  }
  h5.secondary-text {
    color: $darkmode-darker-text;
  }
  p {
    color: $darkmode-text;
  }
}
