@import 'vars';

body.darkmode {
  background-color: $darkmode-background;
  .form-control {
    background-color: #ddd !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .control-label {
    color: $darkmode-text;
  }
  .card__hidden-cards {
    background-color: $darkmode-darker-background;
  }
  .card__body {
    background-color: $darkmode-background;
    color: $darkmode-text;
  }
  .popover {
    color: $darkmode-text;
    background-color: $darkmode-background;
    &.right {
      .arrow:after {
        border-right-color: $darkmode-background;
      }
    }
    &.left {
      .arrow:after {
        border-left-color: $darkmode-background;
      }
    }
    &.bottom {
      .arrow:after {
        border-bottom-color: $darkmode-background;
      }
    }
    .popover-title {
      background-color: $darkmode-darker-background;
      color: $darkmode-text;
      border-bottom: 1px solid #444;
    }
  }
  .plottr-popover {
    color: $darkmode-text;
    background-color: $darkmode-background;
    &.right {
      .arrow:after {
        border-right-color: $darkmode-background;
      }
    }
    &.left {
      .arrow:after {
        border-left-color: $darkmode-background;
      }
    }
    &.bottom {
      .arrow:after {
        border-bottom-color: $darkmode-background;
      }
    }
    .popover-title {
      background-color: $darkmode-darker-background;
      color: $darkmode-text;
      border-bottom: 1px solid #444;
    }
  }
  .btn-default {
    border-color: $darkmode-darker-border;
    background-color: $darkmode-darker-background;
    color: $darkmode-text;
    &:hover {
      background-color: $darkmode-background;
    }
  }
  .dropdown-menu {
    background-color: $darkmode-background;
    li > a {
      color: $darkmode-text;
      &:hover {
        background-color: $darkmode-darker-background;
      }
    }
  }
  .list-group {
    li {
      color: $darkmode-text;
      background-color: $darkmode-background;
      &:hover,
      &.selected {
        background-color: $darkmode-darker-background !important;
      }
    }
  }
  .panel {
    color: $darkmode-text;
    background-color: $darkmode-background;
  }
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $darkmode-darker-background;
  }
  .ReactModal__Content,
  .modal-content {
    color: $darkmode-text;
    background-color: $darkmode-background !important;
  }

  .panel {
    color: $darkmode-text;
    background-color: $darkmode-background;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $darkmode-darker-background;
  }

  .ReactModal__Content,
  .modal-content {
    color: $darkmode-text;
    background-color: $darkmode-background !important;
  }

  .item-list__book-tabs-wrapper, timeline__tabs-wrapper {
    .nav-pills {
      & > li {
        & > a {
          color: $darkmode-darker-text !important;
        }
        &.active {
          a {
            outline: 2px solid $darkmode-darker-text !important;
          }
        }
      }
    }
  }
}

.container-with-sub-nav.darkmode {
  background-color: $darkmode-darker-border;
}

.navbar-inverse {
  .nav.navbar-nav {
    li.dropdown {
      & > a {
        background-color: $darkmode-background;
        border: 1px solid $darkmode-darker-border;
        color: $darkmode-text;
      }
      ul {
        background-color: $darkmode-background;
        li > a {
          color: $darkmode-text;
        }
        li:first-child {
          background-color: $darkmode-darker-background;

          & > a:hover,
          &:hover {
            background-color: $darkmode-background;
          }
        }
      }
    }
    li.dropdown.open {
      & > a {
        background-color: $darkmode-background;
        color: $darkmode-text;
      }
    }
  }
}
