@import "vars";

ul.export-list {
  list-style: none;
  padding-left: 0;
  li {
    cursor: pointer;
    padding: 3px;

    &:hover {
      background-color: $body-background-color
    }
  }
}

body.darkmode {
  .export-list {
    li:hover {
      background-color: $darkmode-darker-background;
    }
  }
}
