@import "vars";

.image-picker__title {
  margin: 0px;
  margin-bottom: 10px;
}

.image-picker__inputs-wrapper {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.image-picker__images-container {
  display: flex;
  flex-wrap: wrap;
}

#fileUpload {
  visibility: hidden;
}

.image-picker__button-wrapper {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.image-picker__upload-button {
  border: 1px solid $gray-7;
  border-radius: 4px;
  cursor: pointer;
}

.image-picker__image-wrapper {
  max-width: 300px;
  margin: 10px;
  text-align: center;
  cursor: pointer;

  .img-rounded-xl {
    margin: auto;
  }

  p {
    @include header-font;
    font-size: 16pt;
    margin-top: 10px;
  }

  .card-dialog__button-bar {
    visibility: hidden;
    justify-content: space-between;
  }

  .form-group {
    margin-top: 20px;
  }

  &:hover {
    .img-rounded-xl {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
    }
  }

  &.selected {
    padding: 10px;
    border-radius: 4px;
    position: relative;
    .img-rounded-xl {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
    }

    .label {
      position: absolute;
      right: 10px;
    }

    .card-dialog__button-bar {
      visibility: visible;
    }
  }
}

.image-picker__wrapper.darkmode {
  background-color: $darkmode-card-background;
  .image-picker__title {
    color: $darkmode-text;
  }
  h5.secondary-text {
    color: $darkmode-darker-text;
  }
  p {
    color: $darkmode-text;
  }
}

.image-circle {
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0 2px 2px 0 hsla(0, 0%, 0%, 0.1), inset 0 -2px 2px 0 hsla(0, 0%, 0%, 0.1);
}

.image-circle-xl {
  @extend .image-circle;
  height: 150px;
  width: 150px;
}

.image-circle-large {
  @extend .image-circle;
  height: 100px;
  width: 100px;
}

.image-circle-small {
  @extend .image-circle;
  height: 75px;
  width: 75px;
}

.image-circle-xs {
  @extend .image-circle;
  height: 25px;
  width: 25px;
}

.image-rounded {
  background-size: cover;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px 0 hsla(0, 0%, 0%, 0.1), inset 0 -2px 2px 0 hsla(0, 0%, 0%, 0.1);
}

.image-rounded-xl {
  @extend .image-rounded;
  height: 300px;
  width: 300px;
}

.image-rounded-large {
  @extend .image-rounded;
  height: 200px;
  width: 200px;
}

.image-rounded-small {
  @extend .image-rounded;
  height: 75px;
  width: 75px;
}

.image-rounded-xs {
  @extend .image-rounded;
  height: 25px;
  width: 25px;
}

.image-square {
  background-size: cover;
  box-shadow: inset 0 2px 2px 0 hsla(0, 0%, 0%, 0.1), inset 0 -2px 2px 0 hsla(0, 0%, 0%, 0.1);
}

.image-square-xl {
  @extend .image-square;
  height: 300px;
  width: 300px;
}

.image-square-large {
  @extend .image-square;
  height: 200px;
  width: 200px;
}

.image-square-small {
  @extend .image-square;
  height: 75px;
  width: 75px;
}

.image-square-xs {
  @extend .image-square;
  height: 25px;
  width: 25px;
}