@import "vars";

$title_height: 70px;
$title_width: 200px;

.line-title__cell {
  width: $title_width;
  border-right: 1px solid $gray-6;

}
.line-title__line-line {
  position: absolute;
  top: 33px;
  border-top: 3px solid red;
  z-index: 0 !important;
}

.line-title__body {
  @include sub-header-font;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  min-height: $title_height;
  min-width: 150px;
  padding: 10px;
  transition: all .4s $cubic;
  border: 3px dashed transparent;
  .form-group {
    text-align: left;
    .control-label {
      @include secondary-text;
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

.line-title__body.hover {
  border-top: 3px dashed $blue-7;
  border-left: 3px dashed $blue-7;
  border-bottom: 3px dashed $blue-7;
  // border-right: 3px dashed $blue-7;
  cursor: move;
}

.line-title__body.dropping {
  border: $new-item-border;
}

.line-title__hover-options {
  float: left;
  margin-right: 3px;
  margin-left: 2px;
  visibility: hidden;
  button.btn-block {
    margin-top: 1px;
  }
}

.line-title__cell:hover {
  .line-title__hover-options {
    visibility: visible;
  }
}

.line-list__insert-scene {
  height: $title_height;
  display: flex;
  align-items: center;
  color: transparent;
  transition: all .4s $cubic;
  border: 1px solid transparent;
  font-size: 12px;
  cursor: pointer;
  svg {
    position: absolute;
  }
  .insert-scene-wrapper.insert-scene-spacer {
    .glyphicon {
      position: relative;
    }
  }
}

.line-list__insert-scene:hover {
  color: $blue-5;
  .insert-scene-wrapper {
    border: 1px dotted $blue-8;
  }
}

.line-list__append-line {
  cursor: pointer;
  .line-list__append-line-wrapper {
    padding: 20px $title_height;
    color: $blue-5;
    border: 3px dotted $blue-8;
    margin-left: 35px;
    margin-bottom: 50px;
  }
  .line-list__append-line__double {
    margin-left: 35px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    div {
      padding: 10px 5px;
      color: $blue-5;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px dashed $blue-8;
      &:hover {
        background-color: $blue-8;
      }
    }
    div.template {
      @include application-text;
      color: $blue-4;
      border-right: none;
      text-align: center;
    }
    div.non-template {
      border-left: none;
    }
  }
}

.line-list__append-line:hover {
  color: $blue-5;
  .line-list__append-line-wrapper {
    border: 3px dashed $blue-7;
  }
}

.sticky-table.darkmode {
  .line-list__append-line {
    .line-list__append-line-wrapper {
      color: $blue-7;
    }
  }
  .line-list__insert-scene:hover {
    color: $blue-7;
  }
}

// ///////////
// Vertical
// ///////////

.vertical-line-title__cell {
  width: $title_width;
  min-height: 150px;
}

.vertical-line-title__body {
  @include sub-header-font;
  padding: 20px 10px;
  width: 150px + 6px; // +6px for the 3px border
  margin: auto;
  text-align: center;
  transition: all .4s $cubic;
  border: 3px dashed transparent;
  .form-group {
    text-align: left;
    .control-label {
      @include secondary-text;
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

.vertical-line-title__body.hover {
  border: 3px dashed $blue-7;
  cursor: move;
}

.vertical-line-title__body.dropping {
  border: $new-item-border;
}

.vertical-line-title__hover-options {
  text-align: center;
  visibility: hidden;
  margin-bottom: 5px;
}

.vertical-line-title__cell:hover {
  .vertical-line-title__hover-options {
    visibility: visible;
  }
}

.vertical-line-list__insert-scene {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: all .4s $cubic;
  border: 1px solid transparent;
  font-size: 12px;
  cursor: pointer;
  svg {
    position: absolute;
  }
  .vertical-insert-scene-wrapper.insert-scene-spacer {
    display: flex;
    padding: 1px;
    .glyphicon {
      position: relative;
      top: 0;
    }
  }
}

.vertical-line-list__insert-scene:hover {
  color: $blue-5;
  .vertical-insert-scene-wrapper {
    border: 1px dotted $blue-8;
  }
}

.vertical-line-list__append-line {
  height: 150px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .vertical-line-list__append-line-wrapper {
    padding: 30px $title_height;
    color: $blue-5;
    border: 3px dotted $blue-8;
    margin-right: 50px;
  }
}

.vertical-line-list__append-line:hover {
  color: $blue-5;
  .vertical-line-list__append-line-wrapper {
    border: 3px dashed $blue-7;
  }
}
