@import "vars";

.note-list {
  margin: 10px;
  h1 {
    text-align: center;
    @include application-text;
  }
}

.note-list__list {
  width: 25%;
  .list-group-item {
    cursor: pointer;
  }
}

.note-list__list.darkmode {
  .list-group-item {
    background-color: $card-background-darkmode;
    color: $text-darkmode;
    border-color: $border-color-darkmode;

    h6 {
      color: $text-darkmode;
    }
    p {
      color: $secondary-text-darkmode;
    }
  }
}

.note-list__new {
  text-align: center;
  cursor: pointer;
  color: $new-item-border-color;
}

.note-list__new:hover {
  background: $new-item-background;
}

.note-list__note {
  @include well;
  width: 75%;
  float: right;
  h4 {
    cursor: pointer;
  }

  .note-list__body {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .note-list__left-side {
      width: 20%;
      border-right: 1px solid #eee;
      padding-top: 10px;
      padding-bottom: 10px;
      overflow-y: scroll;
    }

    .note-list__content {
      width: 80%;
      padding-left: 10px;
      overflow-y:scroll;
      cursor: pointer;
    }
    .note-list__content.editing {
      cursor: auto;
    }
  }
  .note-list__note__edit-form {
    padding-left: 5px;
    textarea {
      font-size: 15px;
    }
  }
  .btn-toolbar {
    display: flex;
    flex-direction: row-reverse;
  }
}

.note-list__note__edit-image-wrapper {
  display: flex;
  align-items: center;
  .note-list__note__edit-image {
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.note-list__note.darkmode {
  background-color: $card-background-darkmode;
  color: $text-darkmode;
  border-color: $border-color-darkmode;

  h4 {
    color: $secondary-text-darkmode;
  }
}

.note-list__note.editing {
  h4 {
    cursor: auto;
  }
}
