@import "vars";

.note-list {
  margin: 10px;
  h1 {
    text-align: center;
    @include application-text;
  }
  .container-fluid {
    width: 100vw;
    height: calc(100% - 110px);
    position: absolute;
    top: 107px;
    overflow: hidden;
    .row {
      height: 100%;
    }
    .col-sm-3, .col-sm-9 {
      height: 100%;
      position: relative;
    }
  }
}

.note-list__list {
  overflow: auto;
  height: calc(100% - 74px);
  position: relative;

  .list-group-item {
    cursor: pointer;

    .note-list__item-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;


      .note-list__item-buttons {
        visibility: hidden;
        &.visible {
          visibility: visible;
        }
      }

      .note-list__item-inner__image-wrapper {
        img {
          max-width: 75px;
        }
        margin-right: 20px;
      }
    }
    &:hover {
      background: $new-item-background;

      .note-list__item-buttons {
        visibility: visible;
      }
    }
    &.selected {
      border: 2px dashed $blue-6;
      background-color: $gray-7;
      margin-bottom: 0;
    }
  }
}

.note-list__list.darkmode {
  .list-group-item {
    background-color: $darkmode-darker-background;
    color: $darkmode-text;
    border-color: $darkmode-darker-border;

    h6 {
      color: $darkmode-text;
    }
    p {
      color: $darkmode-darker-text;
    }
  }
}

.note-list__new {
  text-align: center;
  cursor: pointer;
  color: $new-item-border-color;
}

.note-list__new:hover {
  background: $new-item-background;
}

.note-list__note-wrapper {
  height: 100%;
  position: relative;
  overflow: auto;
}

.note-list__note {
  @include well;
  padding: 20px;
  max-height: 100%;
  overflow: auto;

  h4 {
    cursor: pointer;
  }

  .note-list__body {
    display: flex;
    align-items: flex-start;

    .note-list__left-side {
      width: 18%;
      position: sticky;
      top: 0;
      border-right: 1px solid #eee;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .note-list__content {
      width: 79%;
      height: 100%;
      padding: 4px;
      margin-left: 8px;
      overflow-y: auto;

      cursor: pointer;
      border: 2px dashed transparent;

      .glyphicon-pencil {
        color: $blue-7;
        visibility: hidden;
        margin: 5px;
      }

      &:hover:not(.editing) {
        border: 2px dashed $blue-7;
        border-radius: 4px;
        background-color: $gray-9;
        .glyphicon-pencil {
          visibility: visible;
        }
      }
    }
    .note-list__content.editing {
      cursor: auto;
    }
  }
  .note-list__note__edit-form {
    padding-left: 5px;
    textarea {
      font-size: 15px;
    }
  }
  .btn-toolbar {
    display: flex;
    flex-direction: row-reverse;
  }
}

.note-list__note__edit-image-wrapper {
  display: flex;
  align-items: center;
  .note-list__note__edit-image {
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.note-list__note.darkmode {
  background-color: $darkmode-darker-background;
  color: $darkmode-text;
  border-color: $darkmode-darker-border;

  .note-list__content {
    &:hover:not(.editing) {
      border: 2px dashed $darkmode-border;
      background-color: $darkmode-darker-border;
    }
  }


  h4 {
    color: $darkmode-darker-text;
  }
}

.note-list__note.editing {
  h4 {
    cursor: auto;
  }
}
