@import "vars";

.outline__container {
  display: flex;
  flex-direction: row;
}

.outline__card {
  @include well;
  margin: 20px;
}

.outline__scenes-container {
  width: 75%;
}

.outline__card__line-title {
  float:right;
}

.outline__card__label-list {
  float:right;
  margin-right: 10px;

  .label {
    margin: 5px;
    vertical-align: text-top;
  }
}

li.outline__minimap__scene-title > a {
  color: inherit;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
}

li.outline__minimap__scene-title > a:hover {
  background-color: $body-background-color;
}

.outline__minimap {
  display: block;
  position: fixed;
  right: 0px;
  top: 55px;
  width: 25%;
  height:90%;
  overflow-y: scroll;
  border-left: 1px solid $new-item-border-color;
  border-bottom: 1px solid $new-item-border-color;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-top: -5px;
  background-color: #fffffb;
}

.outline__minimap__placeholder {
  width: 25%;
  height: 100%;
  margin-left: 10px;
}

.active {
  background-color: $new-item-background;
}

.outline__minimap__dots {
  display: inline-block;
  float: right;
  margin-top: 4px;
}

.outline__minimap__card-dot {
  height: 7px;
  width: 7px;
  float:right;
  margin: 1px;
}
