@import "vars";

.outline__container {
  display: flex;
  flex-direction: row;

}

.filter-list__list li {
  span.filter-list__placeholder {
    display: inline-block;
    width: 14px;
    margin-right: 4px;
  }
  span.glyphicon {
    width: 14px;
    margin-right: 4px;
  }
}

.outline__card {
  @include well;
  margin: 20px;
  display: flex;
  flex-direction: column;
  h6 {
    margin-top: -15px;
    cursor: pointer;
  }
}

.outline__scenes-container {
  width: 75%;
}

.outline__card__line-title {
  align-self: flex-end;
}

.outline__card__label-list {
  .label {
    margin-right: 5px;
    padding-top: 4px;
  }
}

li.outline__minimap__scene-title > a {
  color: inherit;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
  display: flex;
  justify-content: space-between;

  .outline__minimap__dots {
    display: inline-block;
    margin-top: 4px;
    margin-left: 5px;
  }

  .outline__minimap__card-dot {
    height: 7px;
    width: 7px;
    float:right;
    margin: 1px;
  }
}

li.outline__minimap__scene-title > a:hover {
  background-color: $body-background-color;
}

.outline__minimap {
  @include well;
  display: block;
  position: fixed;
  left: 0px;
  top: 102px;
  width: 25%;
  height:88%;
  overflow-y: scroll;
  padding-top: 5px;
  padding-right: 5px;
  margin-right: 10px;
  margin-top: -5px;
  border-radius: 0px;
}

.outline__minimap__placeholder {
  width: 25%;
  height: 100%;
  margin-left: 10px;
}

.active {
  background-color: $new-item-background;
}

.outline__description {
  cursor: pointer;
}

.outline__description__editing {
  textarea {
    font-size: 15px;
  }
}
