@import "vars";

.place-list {
  margin: 10px;
  h1 {
    text-align: center;
    @include application-text;
  }
}

.place-list__list {
  width: 25%;
  .list-group-item {
    cursor: pointer;

    .place-list__item-inner {
      display: flex;
      align-items: center;

      .place-list__item-inner__image-wrapper {
        img {
          max-width: 75px;
        }
        margin-right: 20px;
      }
    }
    &:hover {
      background: $new-item-background;
    }
    &.selected {
      border: 2px dashed $blue-7;
      background-color: $gray-9;
      margin-bottom: 0;
    }
  }
}

.place-list__list.darkmode {
  .list-group-item {
    background-color: $darkmode-card-background;
    color: $darkmode-text;
    border-color: $darkmode-border;

    h6 {
      color: $darkmode-text;
    }
    p {
      color: $darkmode-darker-text;
    }
  }
}

.place-list__new {
  text-align: center;
  cursor: pointer;
  color: $new-item-border-color;
}

.place-list__new:hover {
  background: $new-item-background;
}

.place-list__place {
  @include well;
  padding: 20px;
  width: 75%;
  float: right;
  cursor: pointer;
  .place-list__place__edit-form {
    padding-left: 5px;
    display: flex;
    .place-list__inputs__normal {
      width: 50%;
      padding-right: 3%;
      border-right: solid 1px #eee;
    }
    .place-list__inputs__custom {
      width: 50%;
      padding-right: 3%;
      padding-left: 3%;
    }
  }
  .btn-toolbar {
    display: flex;
    flex-direction: row-reverse;
  }
  .place-list__place-inner {
    border: 2px dashed transparent;
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    div:last-child {
      display: flex;
      align-items: flex-end;
      .glyphicon {
        color: $blue-7;
        visibility: hidden;
        margin: 5px;
      }
    }
  }

  &:hover {
    .place-list__place-inner {
      border: 2px dashed $blue-7;
      border-radius: 4px;
      background-color: $gray-9;
      div {
        .glyphicon {
          visibility: visible;
        }
      }
    }
  }
}

.place-list__place.editing {
  cursor: auto;
}

.place-list__place__edit-image-wrapper {
  display: flex;
  align-items: center;
  .place-list__place__edit-image {
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.place-list__custom-attributes-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;

  li.list-group-item {
    width: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;

    .place-list__attribute-name {
      align-self: center;
      margin: 0;
    }
  }
}

.place-list__custom-attributes-add-button {
  width: 25%;
}
