@import "vars";

.place-list {
  margin: 10px;
  h3 {
    text-align: center;
  }
}

.place-list__new {
  @include new_item;
}

.place-list__new:hover {
  @include new_item_hover;
}

.place-list__place {
  @include well;
  .btn-toolbar {
    display: flex;
    flex-direction: row-reverse;
  }
}
