.plottr-popover {
  max-width: 600px;
  max-height: calc(100vh - 35px);

  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text;
  font-size: $font-size-base;

  background-color: $popover-bg;
  background-clip: padding-box;
  border-radius: $border-radius-large;
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

@media (max-width: 800px) {
  .popover-arrow-container.resize {
    max-height: 70vh;
    max-width: calc(70vw - 50px);
  }
}

@media (min-width: 1200px) {
  .plottr-popover.no-max-width {
    max-width: none;
  }
}

.darkmode .plottr-popover {
  background-color: $darkmode-background;

  ul,
  ol {
    color: $darkmode-text;
  }

  .popover-title {
    background-color: $darkmode-darker-background;
    border-bottom: 1px solid #444;
  }
}

.darkmode .react-tiny-popover-container {
  .btn-group__list-group-item .btn {
    background-color: $darkmode-darker-border;
  }
  .btn-group__list-group-item .btn:hover {
    background-color: $darkmode-background;
  }
}
