@import "vars";

$title_height: 70px;
$title_width: 200px;

.scene__cell {
  width: $title_width;
}

.scene__body {
  @include sub-header-font;
  padding: 20px 10px;
  width: 150px + 6px; // +6px for the 3px border
  margin: auto;
  text-align: center;
  transition: all .4s $cubic;
  border: 3px dashed transparent;
  .form-group {
    text-align: left;
    .control-label {
      @include secondary-text;
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

.scene__body.hover {
  border: 3px dashed $blue-7;
  cursor: move;
}

.scene__body.dropping {
  border: $new-item-border;
}

.scene-list__item__hover-options {
  text-align: center;
  visibility: hidden;
  margin-bottom: 5px;
}

.scene-list__insert {
  height: 150px;
  display: flex;
  align-items: center;
  color: transparent;
  transition: all .4s $cubic;
  font-size: 16px;
  cursor: pointer;
  .insert-scene-wrapper {
    display: flex;
    padding: 1px;
    .glyphicon {
      margin-top: -1px;
      margin-right: -1px;
    }
  }
  .insert-scene-wrapper.append-scene {
    padding: 30px 70px;
    color: $blue-5;
    border: 3px dotted $blue-8;
    margin-right: 50px;
  }
}

.scene-list__insert:hover {
  color: $blue-5;
  .insert-scene-wrapper.append-scene {
    border: 3px dashed $blue-7;
  }
}

.sticky-table.darkmode {
  .scene-list__insert:hover {
    color: $blue-8;
  }
  .scene-list__insert {
    .insert-scene-wrapper.append-scene {
      color: $blue-7;
    }
  }
}

// ///////////
// Vertical
// ///////////

.vertical-scene__cell {
  width: $title_width;
}

.vertical-scene__body {
  @include sub-header-font;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  min-height: $title_height;
  min-width: 150px;
  padding: 10px;
  transition: all .4s $cubic;
  .form-group {
    text-align: left;
    .control-label {
      @include secondary-text;
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

.vertical-scene__body.hover {
  box-shadow: inset 0 2px 4px white, 0 3px 2px $shadow-2;
  cursor: move;
}

.vertical-scene__body.dropping {
  border: $new-item-border;
}

.vertical-scene-list__item__hover-options {
  float: left;
  margin-right: 3px;
  margin-left: 2px;
  visibility: hidden;
  button.btn-block {
    margin-top: 1px;
  }
}

.vertical-scene-list__insert {
  height: 40px;
  width: 153px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: all .4s $cubic;
  font-size: 16px;
  cursor: pointer;
  svg {
    position: absolute;
  }
  .vertical-insert-scene-wrapper.insert-scene-spacer {
    .glyphicon {
      position: relative;
    }
  }
}

.vertical-scene-list__insert.append-scene {
  @extend .vertical-scene-list__insert;
  height: $title_height;
  margin-bottom: 50px;
  .vertical-insert-scene-wrapper.append-scene {
    padding: 20px $title_height;
    color: $blue-5;
    border: 3px dotted $blue-8;
    margin-top: 10px;
  }
  .vertical-insert-scene-wrapper.append-scene:hover {
    border: 3px dashed $blue-7;
  }
}

.vertical-scene-list__insert:hover {
  color: $blue-5;
  .insert-scene-wrapper.append-scene {
    border: 3px dashed $blue-7;
  }
}

// .scene-list__insert.darkmode, .vertical-scene-list__insert.darkmode {
//   .glyphicon-plus {
//     color: #777;
//   }
// }

// .scene-list__item__title.darkmode {
//   color: #eee;
// }
