@import "vars";

$extra-width: 25px;
$extra-height: 34px;

.scene-list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
}

.vertical-scene-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.scene-list__item-container {
  min-width: $width + $extra-width;
  width: $width + $extra-width;
}

.vertical-scene-list__item-container {
  min-width: $width + $extra-width;
  width: $width + $extra-width;
}

.scene-list__placeholder {
  width: $width;
  min-width: $width;
  border: 2px solid transparent;
  margin-left: 40px; // because hover option buttons (story lines)
  padding-top: 50px;
}

.vertical-scene-list__placeholder {
  height: $height;
  min-height: $height;
  margin-top: 26px;
}

.scene-list__new {
  height: $height;
  width: $width;
  min-width: $width;
  margin-top: 34px; // because hover option buttons
  line-height: $height;
  color: $new-item-border-color;
  text-align: center;
}

.vertical-scene-list__new {
  height: $height;
  width: $width;
  min-width: $width;
  min-height: $height;
  margin-top: 40px; // because hover option buttons
  margin-left: 26px;
  line-height: $height;
  color: $new-item-border-color;
  text-align: center;
}

.scene-list__new:hover {
  background: $new-item-background;
  border: $new-item-border;
  cursor: pointer;
}

.vertical-scene-list__new:hover {
  background: $new-item-background;
  border: $new-item-border;
  cursor: pointer;
}

.scene-list__item {
  @include sub-header-font;

  width: 100%;
}

.vertical-scene-list__item {
  @include sub-header-font;
  width: 100%;
  height: 100%;
}

.scene-list__insert {
  width: $margin-width;
  float: left;
  line-height: $height;
  text-align: center;
  height: $height;
  margin-top: $extra-height;
  color: $body-background-color;
}

.scene-list__insert.darkmode, .vertical-scene-list__insert.darkmode {
  .glyphicon-plus {
    color: #777;
  }
}

.vertical-scene-list__insert {
  height: $margin-width;
  min-height: $margin-width;
  line-height: $margin-width - 5;
  margin-left: $extra-width; //maybe
  text-align: center;
  color: $body-background-color;
}

.scene-list__insert:hover {
  @include hover-box;
  border: $new-item-border;
  color: $new-item-border-color;
}

.vertical-scene-list__insert:hover {
  @include hover-box;
  border: $new-item-border;
  color: $new-item-border-color;
}

.scene-list__item__body {
  max-height: $height;
  height: $height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
}

.scene-list__item__body.hover {
  @include hover-box;
  cursor: move;
}

.scene-list__item__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scene-list__item__title.darkmode {
  color: #eee;
}

.scene-list__item__editing {
  @extend .scene-list__item;
}

.scene-list__item__hover-options {
  text-align: center;
  visibility: hidden;
  margin-bottom: 1px;
}

.vertical-scene-list__item__hover-options {
  float:left;
  margin-top: -2px;
  margin-right: 1px;
  button.btn-block {
    margin-top: 1px;
  }
}
