@import "vars";

// https://css-tricks.com/custom-scrollbars-in-webkit/
// https://webkit.org/blog/363/styling-scrollbars/

// maybe:
// https://medium.com/frontend-development-with-js/how-to-hide-scrollbar-and-visible-only-scrolling-79cc3472e503

// ::-webkit-scrollbar              { width: 10px; }
// ::-webkit-scrollbar-button       { }
// ::-webkit-scrollbar-track        { background-color: white; }
// ::-webkit-scrollbar-track-piece  { }
// ::-webkit-scrollbar-thumb {
//   background-color: $gray-7;
//   // border-radius: 4px;
//   &:hover {
//     background-color: $gray-6;
//   }
// }
// ::-webkit-scrollbar-corner       {
//   background-color: $gray-7;
// }
// ::-webkit-resizer                { }

// https://css-tricks.com/snippets/sass/custom-scrollbars-mixin/

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}

// Usage:
// body {
//   @include scrollbars(10px, pink, red);
// }
// .custom-area {
//   @include scrollbars(.5em, slategray);
// }