@import 'vars';

.select-list__item-select-list {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 0;
  li {
    cursor: pointer;
    padding: 5px;
    span.colored {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 3px;
    }
  }
  li:hover {
    background-color: $body-background-color;
  }
  &.series-select {
    li {
      margin-left: 5px;
    }
    .series {
      margin-left: -15px;
    }
  }
}

.select-list__details-label {
  @include application-text;
  min-width: 150px;
}

.select-list__wrapper {
  label {
    button {
      margin-left: 2px;
      visibility: hidden;
    }
  }
  label:hover {
    button {
      visibility: visible;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 10px;
    li {
      button {
        margin-right: 2px;
        visibility: hidden;
      }
    }
    li:hover {
      button {
        visibility: visible;
      }
    }
  }

  &.horizontal {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .select-list__details-label {
      min-width: unset;
      font-weight: normal;
    }
    .chip-cloud {
      margin: 0;
    }
  }
}

.chip-cloud {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  font-size: 14px;
  line-height: 16px;
  border-radius: 2rem;
  display: inline-flex;
  align-items: end;
  justify-content: space-between;
  min-width: 75px;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 8px;
  margin: 2px;
  white-space: break-spaces;
  cursor: default;

  .image-circle-xs {
    margin: 0px 4px 0px -8px;
  }

  .glyphicon-remove {
    visibility: hidden;
    margin-left: 4px;
    cursor: pointer;
  }

  &:hover {
    background-color: $gray-9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    .glyphicon-remove {
      visibility: visible;
    }
  }
}

.tag-chip {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
  cursor: default;

  .glyphicon-remove {
    visibility: hidden;
    margin-left: 2px;
    cursor: pointer;
  }

  &:hover {
    background-color: $gray-9;
    .label {
      color: $red-5 !important;
      background-color: $gray-9 !important;
      border-color: transparent !important;
    }
    // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    .glyphicon-remove {
      visibility: visible;
    }
  }
}

body.darkmode {
  .select-list__item-select-list {
    li:hover {
      background-color: $darkmode-darker-background;
    }
  }

  .chip {
    .glyphicon-remove {
      color: $darkmode-darker-text;
    }

    &:hover {
      background-color: $darkmode-darker-background;
    }
  }

  .tag-chip {
    .glyphicon-remove {
      color: $darkmode-darker-text;
    }
    &:hover {
      background-color: $darkmode-darker-background;
    }
  }
}
