@import "vars";

.select-list__item-select-list {
  list-style-type: none;
  padding-left: 10px;
  li {
    cursor: pointer;
    padding: 5px;
    span.colored {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 3px;
    }
  }
  li:hover {
    background-color: $body-background-color;
  }
}

.select-list__details-label {
  @include sub-header-font;
  min-width: 150px;
}

.select-list__wrapper {
  label {
    button {
      margin-left: 2px;
      visibility: hidden;
    }
  }
  label:hover {
    button {
      visibility: visible;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 10px;
    li {
      button {
        margin-right: 2px;
        visibility: hidden;
      }
    }
    li:hover {
      button {
        visibility: visible;
      }
    }
  }
}

.select-list__labels {
  li {
    padding-bottom: 5px;
    button {
      vertical-align: bottom;
    }
    .label {
      font-size: 10pt;
      font-weight: normal;
      padding-top: 5px;
    }
  }
}
