@import 'vars';

.slate-editor__wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  &.readonly {
    margin: 0;
  }
}

.slate-editor__toolbar-wrapper {
  margin-bottom: 5px;
  width: 100%;
  .btn-toolbar {
    flex-direction: row;
    .btn {
      border-radius: 2px;
      font-size: 14px;
      svg {
        vertical-align: text-bottom;
      }
    }

    .dropdown {
      button {
        width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      ul {
        max-height: 200px;
        overflow: auto;
      }

      .size-picker {
        width: 60px;
      }
    }
  }
  &.readonly {
    display: none;
  }
  &.darkmode {
    .btn {
      background-color: #888;
      color: $darkmode-text;
      border-color: $darkmode-darker-border;
    }
    .btn-primary {
      background-color: $gray-8;
      color: $darkmode-background;
    }
  }

  .rceLocked {
    pointer-events: none !important;
  }
}

.lock-icon__wrapper {
  position: absolute;
  cursor: pointer;
  left: 45%;
  top: 25%;
  text-align: center;
  z-index: 100;
  width: max-content;
  padding: 30px;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  
  svg {
    font-size: 4rem;
  }

  span {
    width: max-content;
  }

  span, svg {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

.slate-editor__editor {
  border: 1px solid $input-border;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  border-radius: $input-border-radius;
  padding: 10px 12px;
  font-size: 20px;
  cursor: text;

  &.readonly {
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: inherit;
  }

  &.darkmode {
    background-color: #444;
    border: 1px solid $darkmode-darker-border;
  }

  img.slate-editor__image-link {
    display: block;
    max-width: 100%;
    max-height: 20em;
    &.selected {
      box-shadow: 0 0 4px 3px $blue-8;
      border-radius: 4px;
    }
  }

  h1,
  h2 {
    margin-top: 4px;
  }
}
