@import "vars";

.slate-editor__wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &.readonly {
    margin: 0;
  }
}

.slate-editor__toolbar-wrapper {
  margin-bottom: 5px;
  width: 100%;
  .btn-toolbar {
    flex-direction: row;
    .btn {
      border-radius: 2px;
      font-size: 14px;
      svg {
        vertical-align: text-bottom;
      }
    }
  }
  &.readonly {
    display: none;
  }
  &.darkmode {
    .btn {
      background-color: #888;
      color: $darkmode-text;
      border-color: $darkmode-darker-border;
    }
    .btn-primary {
      background-color: $gray-8;
      color: $darkmode-background;
    }
  }
}

.slate-editor__editor {
  border: 1px solid $gray-9;
  border-radius: 2px;
  padding: 10px;
  font-size: 20px;

  &.readonly {
    border: none;
    padding: 0;
  }

  &.darkmode {
    background-color: #444;
    border: 1px solid $darkmode-darker-border;
  }

  img.slate-editor__image-link {
    display: block;
    max-width: 100%;
    max-height: 20em;
    &.selected {
      box-shadow: 0 0 4px 3px $blue-8;
      border-radius: 4px;
    }
  }
}