
.container-with-sub-nav {
  margin-top: 50px !important;
}

.container-with-sub-nav.darkmode {
  background-color: #777;
}

.subnav__container {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  min-height: 30px;

  button span {
    vertical-align: text-top;
  }
}

.subnav__container.darkmode {
  background-color: #444;
  border-color: #333;

  .subnav__container__label {
    color: white;
  }

  button {
    border-color: #888;
    background-color: #999;
    color: #eee;
  }
}

.subnav__container__label {
  vertical-align: text-top;
}

nav.subnav__container .container .nav li a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.subnav__container .alert-warning {
  display: inline;
  padding: 5px;
  margin: 0px 0px 0px 3px;
}
