
.container-with-sub-nav {
  margin-top: 50px;
}

.subnav__container {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  min-height: 30px;
}

.subnav__container__label {
  vertical-align: text-top;
}

nav.subnav__container .container .nav li a {
  padding-top: 7px;
  padding-bottom: 7px;
}
