@import "vars";

.tag-list__container {
  margin: 10px;
  h3 {
    text-align: center;
    @include application-text;
  }
}

.tag-list__new {
  @include well;
  line-height: 50px;
  width: 200px;
  text-align: center;
}

.tag-list__new.darkmode {
  background-color: $darkmode-card-background;
  color: $darkmode-text;
  border-color: $darkmode-border;
}

.tag-list__new:hover {
  @include new_item_hover;
}

.tag-list__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tag-list__tag {
  @include well;
  width: 200px; // 5 per row
  padding: 7px 14px;
  margin: 3px 6px 3px 0px;
}

.tag-list__tag.darkmode {
  background-color: $darkmode-card-background;
  color: $darkmode-text;
  border-color: $darkmode-border;
}

.tag-list__tag-normal {
  cursor: pointer;
}

.tag-list__color-edit-container {
  display: flex;
  .tag-list__tag-color {
    width: 40px;
    height: 38px;
    float: right;
    margin: 3px;
    border-color: #ccc;
    border-radius: 4px;
  }
}

.tag-list__color-label {
  margin-top: 5px;
  .label {
    vertical-align: middle;
    padding-top: 5px;
  }
}
