@import "vars";

#verify__react__root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.verify {
  font-family: 'Yellowtail' !important;
  font-weight: 400 !important;
  font-size: 36pt !important;
}
img.verify {
  vertical-align: -50%;
}

.verify__chooser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.verify__choice {
  width: 48%;
  height: 140px;
  padding: 10px;
  border: 3px solid $blue-7;
  border-radius: 4px;
  cursor: pointer;
  transition: all .4s $cubic;
  color: $gray-1;
}

.verify__choice:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}