name: Validate

on:
  push:
    branches:
      - staging
      - prod
  pull_request:
    branches:
      - staging
      - prod

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install dependencies
        run: npm ci
      - name: Validation
        run: npm run validate
